@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

/* 
  You can use 'fontsquirrel' (https://www.fontsquirrel.com) 
  or 'transfonter' (https://transfonter.org)
  to generate your own font for the web from .ttf or .oft files 
*/

@font-face {
  font-family: 'Your Font Name';
  src: url('../fonts/yourfontname/yourfontname-roman.woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Your Font Name';
  src: url('../fonts/yourfontname/yourfontname-italic.woff2');
  font-weight: normal;
  font-style: italic;
  font-display: block;
}



/* VARIABLES */

:root {
  /* Color values */
  --color-background: rgba(255, 255, 255, 1);
  --color-text: rgba(0, 0, 0, 1);
  --color-text-link: rgba(0, 0, 255, 0.8);
  --color-text-link-hover: rgba(0, 0, 255, 0.4);
  /* Font values */
  --font-family: 'Your Font Name', 'Helvetica', 'Arial', sans-serif;
  --font-size: 12pt;
  /* Margin value */
  /* --margin: 1rem; */
}



/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position: relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width: 100%;
  height: auto;
  /* overflow-y: auto; */
  /* overflow-x: hidden; */
}

main {
  overflow-x: hidden;
}

a {
  color: var(--color-text-link);
  text-decoration: underline;
}

a:hover {
  color: var(--color-text-link-hover);
  text-decoration: underline;
}

header {
  margin: 0;
  padding: 0;
  /* display: none; */
}

header p {
  margin: 0;
  padding: 0;
  text-align: center;
}

footer {
  display: none;
  margin: 0;
  padding: 0;
}

/* footer p:nth-last-of-type(1) {
  margin: 0;
  padding: 0;
  text-align: left;
} */

footer p:hover {
  cursor: pointer;
}

h1 {
  /* h1 style */
}

h2 {
  /* h2 style */
}

h3 {
  /* h3 style */
}

h4,
h5,
h6 {
  /* h4-h5-h6 style */
}

p {
  /* paragraph style */
}

ol,
ul {
  /* ordered list and unordered list styles */
}

blockquote {
  /* blockquote element style */
}

hr {
  /* horizontal rule style */
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */

nav {}

/* content */

main {}

summary {}

.bio {
  overflow: hidden;
  height: 0;
  background-color: white;
  position: absolute;
  z-index: 999;
  width: 100%;
  transition: height 0.4s ease-in-out;
}

.bio.active {
  height: 300%;
}

.container {
  /* background-color: brown; */
  transform: translateX(0);
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "menu content";
  /* max-height: 90vh; */
}

.menu {
  grid-area: menu;
  /* background-color: white; */
  overflow: scroll;
  z-index: 10;
}

.menu-item {
  /* border-bottom: 1pt black solid; */
  padding-top: 1pt;
  padding-left: 3pt;
}

.menu-item:hover {
  /* background-color: black; */
  /* color: white; */
  text-decoration: underline;
  cursor: pointer;
}

.menu-right {
  grid-area: menu-right;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
}

.content {
  position: relative;
  grid-area: content;
  height: 70vh;
}

.content-item {
  z-index: 999;
  position: relative;
  ;
  display: block;
}

.content-item p {
  margin: 0;
  padding: 0;
  text-indent: 1.8rem;
}

.title {
  grid-area: title;
  /* background-color: red; */
}

.date {
  grid-area: date;
  /* background-color: brown; */
}

.buy {
  grid-area: buy;
  /* background-color: white; */
}

.info {
  grid-area: info;
  /* background-color: green; */
}

.number {
  position: fixed;
  bottom: 0;
  /* text-align: center; */
  grid-area: number;
  align-self: flex-end;
  /* bottom: 28vh; */
  /* font-size: 10rem; */
}

.content-image {
  /* display: none;; */
  height: 100%;
  width: 100%;
  z-index: 2;
  /* width: 100%; */
  position: absolute;
}

.content-image .menu-right{
  display: none;
}

.swiper {
  /* width: 100%; */
  height: 70vh;
}

.swiper-slide {
  width: 50%;
  /* background-color: aqua; */
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.swiper-scrollbar {
  display: none;
}

.swiper-pagination {
  display: none;
}

img {
  /* filter: opacity(50%) blur(10px); */
  /* transition: filter 0.4s ease-in-out; */
  object-fit: contain;
  width: auto;
  height: 100%;
  margin: auto;
  /* width: 96%; */
}

img:hover {
  /* filter: opacity(1) blur(0); */
  mix-blend-mode: none;
}

.slick-prev,
.slick-next {
  z-index: 999; /* Keep above images but manageable */
  background-color: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; /* Limit the clickable area */
  height: 50px;
  border: none;
  cursor: pointer;
  pointer-events: auto; /* Ensure buttons are functional */
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}


.slick-prev {
  left: 20%;
}

.slick-next {
  right: 20%;
}

.slick-prev:hover {
  cursor: w-resize;
}

.slick-next:hover {
  cursor: e-resize;
}

.content-number {
  position: absolute;
  font-size: 10rem;
  bottom: 0;
}




/* UTILITY CLASSES */

/* hide desktop mobile etc */

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}





/* WEBSITE MEDIA QUERIES */

/* styles for 'mobile', screen sizes up to 779px, should covers 'mobile' and 'tablet' */
/* style this one first and then use the subsequent ones in a cascading way (from general to specific) */

@media (max-width: 779px) {

  /* body {
    overflow-x: hidden;
  } */

  .slick-prev,
  .slick-next {
    display: none;
  }


  footer {
    display: flex;
    width: 100vw;
  }

  footer div {
    width: 40%;
  }

  .bio {
    position: fixed;
  }

  .number {
    position: fixed !important;
    bottom: 0 !important;
  }

  .menu-right {
    grid-area: menu-right;
    z-index: 10;
    display: flex !important;
    justify-content: space-between;
  }

  .menu-right .menu-item:nth-last-of-type(1) {
    padding-right: 0.4rem;
  }

  footer {
    display: block;
  }

  .back {
    text-align: right;
  }

  .container {
    /* display: block; */
    /* width: 100%; */
  }

  .container {
    transition: transform 1s ease-in-out;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "menu content"
      "menu content"
      "menu content";
    /* overflow-x: hidden; */
  }

  img {
    max-width: 100%;
    /* display: none; */
  }

  .swiper:hover img {
    z-index: 999;
    filter: blur(0);
    opacity: 1;
  }

  .content-image {
    transform: translateX(100%);
  }

  .menu-right {
    width: 100vw;
    z-index: 999;
    left: 0;
    top: 0;
    margin: 0;
  }

  .menu {
    /* background-color: aqua; */
    width: 100vw;
  }

  .content {
    width: 100vw;
    pointer-events: none;
    /* background-color: blue; */
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

}



/* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

@media (max-width: 339px) {

  /* your overriding css properties here */

}



/* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

@media (max-width: 779px) and (orientation: landscape) {

  /* your overriding css properties here */

}



/* use this query to apply style for 'small' desktop screens */

@media (min-width: 780px) and (max-width: 992px) {

  /* your overriding css properties here */

}